/* small scren laptops  */
@media screen and (min-width: 768px) and (max-width: 1250px) {
  /* nav section  */

  nav {
    margin: 1.8rem 5rem;
    flex-direction: column;
  }
  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column-reverse;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .banner-main-image {
    width: 70%;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }
  /* onlione play games section  */
  .online-games-container {
    flex-direction: column-reverse;
    justify-content: left;
    margin: auto;
    padding: 1rem 1rem;
  }
  /* varity game section  */
  .varity-game-section-container {
    max-width: 1024px;
  }
  .varity-game-items {
    width: 10rem;
    height: 5rem;
    border-radius: 3.125rem;
    background: #fff;
  }
  .varity-game-name {
    font-size: 0.8rem;
  }
}
/* tablet device codes  */

@media screen and (min-width: 425px) and (max-width: 768px) {
  /* header section starts  */

  /* nav section starts  */

  nav {
    flex-direction: column;
    margin: 1rem;
  }
  .nav-logo-container {
    margin: 0 auto 1rem;
  }

  /* nav section ends  */

  /* header section ends */
  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column-reverse;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
    padding: 0 10px;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .banner-main-image {
    width: 70%;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }
  /* onlione play games section  */
  .online-games-container {
    flex-direction: column-reverse;
    justify-content: left;
    margin: auto;
    padding: 1rem 1rem;
  }

  .varity-game-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  /* footer section  */

  .footer-container {
    min-height: 30rem;
  }

  .footer-logo-container {
    margin-bottom: 1rem;
  }

  .story-to-my-account-item-container {
    gap: 2.5rem;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .term-privacy-container {
    gap: 3rem;
  }
}

/* mobile responsive codes */

@media screen and (min-width: 360px) and (max-width: 425px) {
  /* header section starts  */

  /* nav section starts  */
  nav {
    flex-direction: column;
    margin: 1rem;
  }
  .nav-lists {
    flex-direction: column;
    margin-top: 1rem;
  }
  /* nav section ends  */
  /* header section ends */

  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column-reverse;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
    padding: 0 10px;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .button {
    text-align: center;
  }
  .sign-in-button {
    padding: 1rem 1.5rem;
  }
  .go-rogue-button {
    padding: 1rem 1.5rem;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }

  /* onlione play games section  */
  .online-games-container {
    flex-direction: column-reverse;
    justify-content: left;
    margin: auto;
    padding: 1rem 1rem;
  }
  .online-games-image-container {
    justify-content: left;
  }
  .online-games-first-image {
    max-width: 15rem;
    max-height: 50rem;
  }
  .online-games-second-image {
    position: absolute;
    max-width: 10rem;
    max-height: 50rem;
    top: 50%;
    left: 70%;
  }
  /* varity game section  */
  .varity-game-items {
    gap: 0;
    height: 4rem;
    width: 6.5rem;
    word-wrap: break-word;
  }

  .varity-game-section-container {
    display: flex;
    max-width: 90vw;
    justify-content: space-around;
  }
  .varity-game-name {
    font-size: 0.8rem;
  }
  .varity-game-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  /* footer section  */

  .footer-container {
    min-height: 30rem;
  }

  .footer-logo-container {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .story-to-my-account-item-container {
    gap: 3rem;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .footer-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .term-privacy-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2.5rem;
  }
}

/*  375 px  */

@media screen and (max-width: 375px) {
  /* varity game section  */
  .varity-game-items {
    gap: 0;
    height: 4rem;
    width: 6rem;
    word-wrap: break-word;
  }

  .varity-game-section-container {
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
  }
  .varity-game-name {
    font-size: 0.8rem;
  }
  .varity-game-img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* my phone  responsive*/

@media screen and (max-width: 360px) {
  .banner {
    flex-direction: column-reverse;
  }
  /* online games  */
  .online-games-first-image {
    max-width: 12rem;
    max-height: 50rem;
  }
  .online-games-second-image {
    position: absolute;
    max-width: 8rem;
    max-height: 50rem;
    top: 50%;
    left: 70%;
  }
  /* varity game section  */
  .varity-game-items {
    gap: 0;
    height: 4rem;
    width: 6rem;
    word-wrap: break-word;
  }

  .varity-game-section-container {
    display: flex;
    max-width: 100vw;
    justify-content: space-around;
  }
  .varity-game-name {
    font-size: 0.8rem;
  }
  .varity-game-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  /* footer section  */

  .footer-container {
    min-height: 30rem;
  }

  .footer-logo-container {
    margin-bottom: 1rem;
  }

  .story-to-my-account-item-container {
    gap: 2rem;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  .footer-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .term-privacy-container {
    gap: 7px;
  }
}
