/* small scren laptops  */
@media screen and (min-width: 768px) and (max-width: 1250px) {
  /* nav section  */

  nav {
    margin: 1.8rem 5rem;
    flex-direction: column;
  }
  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .banner-main-image {
    width: 70%;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }
}
/* onlione play games section  */
.online-games-container {
  flex-direction: column-reverse;
  justify-content: left;
  margin: auto;
  padding: 1rem 1rem;
}
/* varity game section  */
.varity-game-items {
  width: 10rem;
  height: 5rem;
  border-radius: 3.125rem;
  background: #fff;
}
.varity-game-name {
  font-size: 0.8rem;
}

/* tablet device codes  */

@media screen and (min-width: 425px) and (max-width: 768px) {
  /* header section starts  */

  /* nav section starts  */

  nav {
    flex-direction: column;
    margin: 1rem;
  }
  .nav-logo-container {
    margin: 0 auto 1rem;
  }

  /* nav section ends  */

  /* header section ends */
  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
    padding: 0 10px;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .banner-main-image {
    width: 70%;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }
  /* onlione play games section  */
  .online-games-container {
    flex-direction: column-reverse;
    justify-content: left;
    margin: auto;
    padding: 1rem 1rem;
  }
}

/* mobile responsive codes */

@media screen and (max-width: 425px) {
  /* header section starts  */

  /* nav section starts  */
  nav {
    flex-direction: column;
    margin: 1rem;
  }
  .nav-lists {
    flex-direction: column;
    margin-top: 1rem;
  }
  /* nav section ends  */
  /* header section ends */

  /* main section  */
  /* banner section  */
  .banner {
    flex-direction: column;
    margin: 0 auto 3rem;
  }
  .banner-background-container {
    min-width: 100vw;
    min-height: 43.75rem;
    background-size: 100vw 40rem;
    padding: 0 10px;
  }
  .banner-main-image {
    width: 100%;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-logo-text {
    font-size: 3rem;
  }
  .button {
    text-align: center;
  }
  .sign-in-button {
    padding: 1rem 1.5rem;
  }
  .go-rogue-button {
    padding: 1rem 1.5rem;
  }
  .banner-main-image {
    margin-right: 0rem;
    padding: 1rem;
  }

  /* online game funny viceo  */

  .funny-video-card-container {
    flex-direction: column;
    gap: 1.4rem;
  }
  .funny-section {
    padding: 0 1rem;
  }

  /* onlione play games section  */
  .online-games-container {
    flex-direction: column-reverse;
    justify-content: left;
    margin: auto;
    padding: 1rem 1rem;
  }
  .online-games-image-container {
    justify-content: left;
  }
  .online-games-first-image {
    max-width: 15rem;
    max-height: 50rem;
  }
  .online-games-second-image {
    position: absolute;
    max-width: 10rem;
    max-height: 50rem;
    top: 50%;
    left: 70%;
  }
}
